/* File Explorer */
.file-explorer {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
}

/* File */
.file {
	margin-bottom: 5px;
}

.file-header {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.file-header span {
	margin-left: 5px;
}

.icon {
	width: 15px;
	height: 15px;
	margin-right: 5px;
}

.file-icon {
	width: 15px;
	height: 15px;
	margin-right: 5px;
	background-image: url('./assets/004-document.png');
}

.collapsed {
	background-image: url('./assets/002-folder.png');
}

.expanded {
	background-image: url('./assets/003-folder-1.png');
}

.file-content {
	margin-left: 20px;
}

/* Highlighted Folder */
.file.folder.highlighted {
	background-color: #f0f0f0;
}

.popup-menu {
	z-index: 1;
	position: absolute;
	background: ghostwhite;
	border-radius: 8px;
	cursor: pointer;
	width: 100px;
}

.menu-item {
	border-bottom: 1px solid grey;
	text-align: center;
	font-size: 14px;
}

.menu-item:last-child {
	border-bottom: none;
}
